.main{
  text-align: center;
  display: auto;
  margin-left: auto;
  margin-right: auto;
}
nav{
  display: flex;
  justify-content: center;
  margin: 12px 0;
}
nav a{
  text-decoration: none;
  margin: 0px 10px;
  font-weight: 500;
  color: black;
}
nav p:hover{
  color: rgb(19, 57, 224);
  cursor: pointer;
}
.container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}